asgiref==3.6.0
beautifulsoup4==4.12.2
bootstrap4==0.1.0
certifi==2022.12.7
channels==4.0.0
charset-normalizer==3.1.0
click==8.1.3
dash==2.9.3
dash-bootstrap-components==1.4.1
dash-core-components==2.0.0
dash-html-components==2.0.0
dash-table==5.0.0
Django==3.2.18
django-autoslug==1.9.9
django-bootstrap4==23.1
django-dash==0.6.1
django-nine==0.2.7
django-plotly-dash==2.1.4
django-tinymce==3.6.1
dpd-components==0.1.0
dpd-static-support==0.0.5
easy-thumbnails==2.8.5
feedparser==6.0.10
Flask==2.2.3
idna==3.4
itsdangerous==2.1.2
Jinja2==3.1.2
MarkupSafe==2.1.2
numpy==1.24.2
packaging==23.1
pandas==2.0.0
pif==0.8.2
Pillow==9.5.0
plotly==5.14.1
python-dateutil==2.8.2
pytz==2023.3
requests==2.28.2
sgmllib3k==1.0.0
six==1.16.0
soupsieve==2.4.1
sqlparse==0.4.3
tenacity==8.2.2
transliterate==1.10.2
tzdata==2023.3
Unidecode==1.3.6
urllib3==1.26.15
vishap==0.1.5
Werkzeug==2.2.3
