{% load static %}
<header class="header">

    <h2>CFD - Carteira Financeira Digital</h2>
    <nav class="menu">
        <ul>
            <li><a href="{%url 'index'%}">Home</a></li>
            <li><a href="{%url 'about'%}">Sobre Nós</a></li>
            {% if user.is_authenticated %} 
            <li id="carteira"> <a href=#>Carteira</a>
                <div class="carteira">
                    <ul class="carteira-lista">
                        <li class="carteira-item"><a href="{%url 'dash'%}">Painel</a></li>
                        <li class="carteira-item"><a href="#">Extra</a></li>
                        <li class="carteira-item"><a href="{%url 'despesa'%}">Despesas</a></li>
                        <li class="carteira-item"><a href="#">Investimento</a></li>
                    </ul>
                </div>
            </li>
            <li><a href="{%url 'logout'%}">Sair</a></li>
            {% else %}
            <li><a href="{%url 'login'%}">Login</a></li>
            {%endif%}
        </ul>
    </nav>
</header>
 
<script src="{%static 'Assets/js/menu.js'%}"></script>